body {
	background: #77b7f8;
	font-family: 'Oswald', 'Futura', sans-serif;
}
#wrapper {
	margin-top: 10% !important;
}
#content {
	background:#81fff9;
	padding: 25px;
}
#content > h2 {
	font-size: 18px;
	text-align: center;
	padding-top: 0;
}
.t10 {
	margin-top: 10px;
}
.t20 {
	margin-top: 20px;
}
.todo-completed {
	text-decoration: line-through;
	background: rgba(164, 204, 207, 0.3);
}
footer {
	margin-top: 20px;
	color: white;
}
#add-btn {
	background-color:green;
	border-color:green;
}
